<a href="https://colab.research.google.com/github/GabrielGaete/CodeChallengeGlobant/blob/main/LimpiezaBDD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from io import StringIO

# Texto con los datos CSV
csv_data = """transaction_id,product_name,quantity_sold,date_sold,price,store_location,user_agent
1001,Smartphone,2,2023-10-01,300,New York,"Mozilla/5.0 (Android)"
1002,Laptop,1,2023-10-02,800,Los Angeles,"Mozilla/5.0 (Windows)"
1002,Laptop,,2023-10-02,,"Mozilla/5.0 (Windows)" # Registro duplicado con valores faltantes
1003,Headphones,5,2023-10-03,50,Chicago,"Mozilla/5.0 (iOS)"
1004,Smartwatch,3,2023-10-04,150,San Francisco,"Mozilla/5.0 (Android)"
1005,Tablet,2,2023-10-05,400,Boston,"Mozilla/5.0 (macOS)"
1006,Camera,1,2023-10-06,500,Miami,"Mozilla/5.0 (Windows)"
1007,Charger,10,2023-10-07,15,Seattle,"Mozilla/5.0 (Linux)"
1008,Mouse,4,2023-10-08,25,Dallas,"Mozilla/5.0 (Android)"
1009,Keyboard,3,2023-10-09,45,Houston,""
1010,Monitor,2,2023-10-10,200,Philadelphia,"Mozilla/5.0 (macOS)"
"""

# Convierte el texto CSV en un DataFrame
df = pd.read_csv(StringIO(csv_data))

# Tarea 1: Limpieza y Transformación de Datos
# Elimina registros duplicados
df = df.drop_duplicates()
# Completa valores faltantes
df = df.fillna('ValorFaltante')

# Tarea 2: Uso de SQL para Segmentar y Agrupar la Información
# Supongamos que queremos segmentar por la ubicación de la tienda y calcular la suma de la cantidad vendida.
resultado_sql = df.groupby('store_location')['quantity_sold'].sum()

# Muestra el resultado de la consulta SQL
print("Resultado de la consulta SQL:")
print(resultado_sql)

# Muestra el DataFrame después de la limpieza y transformación
print("DataFrame después de la limpieza y transformación:")
print(df)

Resultado de la consulta SQL:
store_location
Boston                                                                        2.0
Chicago                                                                       5.0
Dallas                                                                        4.0
Houston                                                                       3.0
Los Angeles                                                                   1.0
Miami                                                                         1.0
Mozilla/5.0 (Windows) # Registro duplicado con valores faltantes    ValorFaltante
New York                                                                      2.0
Philadelphia                                                                  2.0
San Francisco                                                                 3.0
Seattle                                                                      10.0
Name: quantity_sold, dtype: object
DataFrame después de la limpieza y transformación:
    transaction_id product_name  quantity_sold   date_sold          price  \
0             1001   Smartphone            2.0  2023-10-01          300.0
1             1002       Laptop            1.0  2023-10-02          800.0
2             1002       Laptop  ValorFaltante  2023-10-02  ValorFaltante
3             1003   Headphones            5.0  2023-10-03           50.0
4             1004   Smartwatch            3.0  2023-10-04          150.0
5             1005       Tablet            2.0  2023-10-05          400.0
6             1006       Camera            1.0  2023-10-06          500.0
7             1007      Charger           10.0  2023-10-07           15.0
8             1008        Mouse            4.0  2023-10-08           25.0
9             1009     Keyboard            3.0  2023-10-09           45.0
10            1010      Monitor            2.0  2023-10-10          200.0

                                       store_location             user_agent
0                                            New York  Mozilla/5.0 (Android)
1                                         Los Angeles  Mozilla/5.0 (Windows)
2   Mozilla/5.0 (Windows) # Registro duplicado con...          ValorFaltante
3                                             Chicago      Mozilla/5.0 (iOS)
4                                       San Francisco  Mozilla/5.0 (Android)
5                                              Boston    Mozilla/5.0 (macOS)
6                                               Miami  Mozilla/5.0 (Windows)
7                                             Seattle    Mozilla/5.0 (Linux)
8                                              Dallas  Mozilla/5.0 (Android)
9                                             Houston          ValorFaltante
10                                       Philadelphia    Mozilla/5.0 (macOS)